:root {
  --color-dino: rgba(122, 57, 157, 0.8);  
  --color-sky: #b5e4e3;

  --color-first: #FAFFFF;
  --color-first-light: rgba(250, 255, 255, 0.52);
  --color-second: #050914;
  --color-second-light: rgb(5, 9, 20, 0.3);
  --color-third: #110524;
}