.title-dino {
  font-size: 28px;
  line-height: 36px;
  color: #FCFDFC;
  font-family: 'Bungee', sans-serif;
  margin-top: var(--gap-big);
  margin-bottom: var(--gap-big);
}

@media (min-width: 600px) {
  .title-dino {
    font-size: 50px;
    line-height: 36px;
  }
}