.wrapper-video-dino {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.video-dino {
  width: 100%;
}

.wrapper-video-dino::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-second-light);
  transition: transform 300ms linear; 
}

.wrapper-video-dino.-play::before {
  transform: translateX(-100%);
}


.wrapper-video-dino > .play {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: var(--color-first-light);
  border-radius: 50%;
  text-indent: -9999px;
  transition: opacity 200ms linear;
}

.wrapper-video-dino.-play > .play {
  opacity: 0;
}

.wrapper-video-dino > .play::before {
  content: '';
  position: absolute;
  display: block;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 25px solid var(--color-third);
  transform: translateX(2px);
}