.header-dino {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 272px;
  height: 42%;
  background: url('../../img/floor.png') bottom center/contain repeat no-repeat,
              url('../../img/mountain1.png') bottom center/contain no-repeat,
              url('../../img/mountain2.png') bottom center/contain no-repeat,
              url('../../img/sky.png') top center/contain no-repeat var(--color-sky);
}

.header-dino > .logo {
  position: absolute;
  top: var(--gap-medium);
  min-width: 250px;
  max-width: 500px;
  width: 70%;
}

.header-dino > .dininho {
  position: absolute;
  bottom: calc(var(--gap-big) + 120px);
  width: 30px;
}

@media (min-width: 1280px) {
  .header-dino {
    background: url('../../img/floor.png') bottom center/1280px auto repeat no-repeat,
                url('../../img/mountain1.png') bottom center/contain no-repeat,
                url('../../img/mountain2.png') bottom center/contain no-repeat,
                url('../../img/sky.png') top center/contain no-repeat var(--color-sky);
  }
}