html, body {
  height: 100%;
}

body {
  background-color: #FAD121;
  background-image: linear-gradient(181.15deg, #7E5002 50.16%, #E69405 70.19%, #FAD121 98.57%);
  background-repeat: no-repeat;
  font-family: 'Nunito', sans-serif;
  color: #73263d;
  font-weight: bold;
}

@media (min-width: 600px) {
  body {
    font-size: 20px;
    line-height: 1.4;
  }
}
